:root {
	 --cor-azul: #116fff;
	--cor-branca: #fff;
	--cor-cinza-claro: #ededed;
	--cor-verde: #45a049;
	--cor-vermelho-claro: #fcd7d7;
	--cor-vermelho: red;
	--cor-preta: black;
	--cor-laranja: orange;
	--cor-roxo: purple;
	--cor-amarelo: yellow
}

a {
    text-decoration: none;
}

.cabecalho {
	background-color: var(--cor-preta);
	width: 100%;
	padding: 130px 0px 0px 0px;
	border-bottom: 5px solid var(--cor-azul);
	box-shadow: 3px 4px 5px #191970
}

.logo1 {
	width: 150px;
	margin:10px 80px 10px 250px;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 10px;
}

.logo1:hover {
	width: 160px;
}

.logo2 {
	min-width: 9rem;
	max-width: 15%;
	margin:0px 10px 70px;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 10px;
}

.logo2:hover{
	width: 210px;
}

.logo3 {
	color: var(--cor-branca);
	font-size: 16px;
	text-align: center;
	font-weight: 800;
	transform: rotate(2deg);
	position: absolute;
	left: 270px;
	top: 100px;
}




body {
	background-color: var(--cor-cinza-claro);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	text-align: center;
	font-size: 50px;
	font-weight: 550;
	color: var(--cor-azul);
	text-shadow: 1px 2px 3px #191970

}

section {

	margin: 20px 0px 0px 140px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 85%;
}


.w {
	background-color: var(--cor-preta);
	color: var(--cor-azul);
	border: 5px solid var(--cor-verde);
	border-radius: 20px;
	font-size: 20px;
	display:inline-block;
	width: 13rem;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	box-shadow: 3px 4px 5px #191970
}

.w:hover {
	border: 5px solid var(--cor-laranja);
}

.menu_principal {
	margin: 20px 0px 0px 0px;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
}



.grupo1 {
	display:inline-block;
	width: 60rem;
}

.grupo2 {
	display:inline-block;
	width: 35rem;
}

.b {
	background-color: var(--cor-preta);
	color: var(--cor-laranja);
	border: 5px solid var(--cor-verde);
	border-radius: 20px;
	font-size: 20px;
	display:inline-block;
	width: 13rem;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	box-shadow: 3px 4px 5px #191970
}

.b:hover {
	border: 5px solid var(--cor-laranja);
}

div:hover {
	margin: 0px 0px 0px 0px;
}

.c {
	background-color: var(--cor-preta);
	border: 5px solid var(--cor-azul);
	border-radius: 20px;
	display:inline-block;
	width: 25rem;
	height: 20rem;
	margin: 30px 0px 0px 10px;
	box-shadow: 3px 4px 5px #191970
}


.media-link {
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--cor-branca);
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px
}

.media-link.facebook { background-image: url("imagens/facebook-3-64.png"); }
.media-link.linkedin { background-image: url("imagens/linkedin-3-64.png"); }
.media-link.instagram { background-image: url("imagens/instagram-64.png"); }
.media-link.twitter { background-image: url("imagens/twitter-3-64.png"); }
.media-link.youtube { background-image: url("imagens/youtube-64.png"); }
